<ion-header>
  <ion-toolbar color="fsm-color-toolbar">
    <ion-title>FSM Theme</ion-title>
    <ion-buttons end>
      <button ion-button>Add</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="button-center">
    <button ion-button color="fsm-color-ok">Ok</button>
    <button ion-button color="fsm-color-cancel">Cancel</button>
  </div>
  <ion-card color="fsm-color">
    <ion-card-header>
      Card
    </ion-card-header>
    <ion-card-content>
      This is and ion card.
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar color="fsm-color-footer">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

